@font-face {
  font-family: "adineue PRO KZ Bold";
  src: url("./fonts/adineue PRO KZ Bold.woff2") format("woff2"),
    url("./fonts/adineue PRO KZ Bold.woff") format("woff"),
    url("./fonts/adineue PRO KZ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./fonts/Gilroy-SemiBold.woff2") format("woff2"),
    url("./fonts/Gilroy-SemiBold.woff") format("woff"),
    url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("https://db.onlinewebfonts.com/t/040a78b437acd0433612f92e61d04a1b.eot");
  src: url("https://db.onlinewebfonts.com/t/040a78b437acd0433612f92e61d04a1b.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/040a78b437acd0433612f92e61d04a1b.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/040a78b437acd0433612f92e61d04a1b.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/040a78b437acd0433612f92e61d04a1b.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/040a78b437acd0433612f92e61d04a1b.svg#Gilroy-Medium")
      format("svg");
}
